/*Переменные*/
.page.theme_light{
  --font-family: "IBM Plex Mono", sans-serif;
  --main-background-color:#FFC2E6;
  --background-image: url(/images/cover-image-light.png);
  --main-text-color: #353430;
  --accent-color: #ff0070;
  --focus-color: #FF8DCB;
}
@media (prefers-color-scheme: light) {
  :root {
    --font-family: "IBM Plex Mono", sans-serif;
    --background-image: url(/images/cover-image-light.png);
    --main-background-color:#FFC2E6;
    --main-text-color: #353430;
    --accent-color: #ff0070;
    --focus-color: #FF8DCB;
  }
}
/*Кнопка записи*/ 
.rec {
  display: none;
}
.rec::after {
  display: none;
}
